    <br><br>
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-pills">
            <li><a href ="#/allprofiles">All</a></li>
            <li><a href ="#/popular">Popular</a></li>
            <li><a href ="#/nearme">Near Me</a></li>
            <li><a href ="#/matches">My Matches</a></li>
            <li><a href ="#/chatting">Chatting</a></li>
        </ul>  
      </div>
    </div>
    <div class="row">
          <div class="col-md-4">
            <div class="media" ng-repeat="profile in profiles">
              <div class="media-left">
                <img class="media-object" ng-src="{{profile.avatar}}" alt="avatar">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{profile.username}}</h4>
                <p>{{profile.dob | date}}</p>
                <p><a href="" ng-click="showProfile(profile._id)">Show Profile</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3" ng-controller="showCtrl">
             <div class="media">
              <div class="media-left">
                <img class="media-object" ng-src="{{profile.avatar}}" alt="avatar">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{profile.username}}</h4>
                <p>{{profile.dob | date}}</p>
                <p>{{profile.email}}</p>
                <p><a href="" ng-click="getConversations(profile._id); conversations=true">Get Conversations</a></p>
                <div ng-show="conversations">
                  {{conversationList}}
                  <input ng-model="content" type="text" class="form-control" title="content">
                  <button ng-click="postConversation(profile._id, content)" type="button" class="btn btn-warning">Send Message</button>
                </div>
              </div>
          </div>
    </div>
