    <br><br>
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-pills">
            <li><a href ="#/allprofiles">All</a></li>
            <li><a href ="#/popular">Popular</a></li>
            <li><a href ="#/nearme">Near Me</a></li>
            <li><a href ="#/matches">My Matches</a></li>
            <li><a href ="#/chatting">Chatting</a></li>
        </ul>  
      </div>
    </div>
        <div class="col-md-3">
             <div class="media" ng-repeat="chat in chatting">
              <div class="media-left">
                <img class="media-object" ng-src="{{chat.avatar}}" alt="avatar">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{chat.username}}</h4>
                <p>{{chat.dob | date}}</p>
                <p>{{chat.email}}</p>
                <p><a href="" ng-click="getConversations(profile._id); conversations=true">Get Conversations</a></p>
                <div ng-show="conversations">{{conversationList}}</div> 
              </div>
          </div>
    </div>
