  
<div ng-controller="leftNavCtrl">
  <br>
    <ul class="nav nav-pills  left-nav">
            <li>
              <a href ="#/allprofiles">All</a>
            </li>
            <li>
              <a href ="#/popular">Popular</a>
            </li>
            <li>
              <a href ="#/nearme">Near Me</a>
            </li>
            <li>
              <a href ="#/mymatches">My Matches</a>
            </li>
            <li>
              <a href ="#/chatting">Chatting</a>
            </li>
    </ul>  
</div>