<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Already a member? Please<a href="#/login">log in</a></p>
       <form ng-submit="onSubmit()">
        <div role="alert" ng-show="formError" class="alert alert-danger"> {{formError}}</div>
        <div class="form-group">
          <label for="username"></label>
          <input type="text" class="form-control" id="username" placeholder="Enter your username" ng-model="credentials.username" required>
        </div>
        <div class="form-group">
          <label for="E-mail"></label>
          <input type="email" class="form-control" id="email" placeholder="Enter e-mail address" ng-model="credentials.email" required>
        </div>
        <div class="form-group">
          <label for="Password"></label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="credentials.password" minlength='8' required>
        </div>
        <div class="form-group">
          <label for="Date of Birth"></label>
          <input type="date" class="form-control" id="dob" placeholder="Enter e-mail address" ng-model="credentials.dob" min="1998-05-09"required>
        </div>
        <div class="form-group">
          <label for="First Name"></label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" ng-model="credentials.names.firstName">
        </div>
        <div class="form-group">
          <label for="Last Name"></label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" ng-model="credentials.names.lastName">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>