  
<div ng-controller="leftNavCtrl">
<ul class="nav nav-pills  left-nav">
        <li ng-class="{ active:tabIsSet(1)}">
          <a href ng-click="setTab(1)">All</a>
        </li>
        <li ng-class="{ active:tabIsSet(2)}">
          <a href ng-click="setTab(2)">Popular</a>
        </li>
        <li ng-class="{ active:tabIsSet(3)}">
          <a href ng-click="setTab(3)">Near Me</a>
        </li>
        <li ng-class="{ active:tabIsSet(4)}">
          <a href ng-click="setTab(4)">My Matches</a>
        </li>
        <li ng-class="{ active:tabIsSet(5)}">
          <a href ng-click="setTab(5)">Chatting</a>
        </li>
</ul>
    
      <div>            
          <user-list type="All" ng-show="leftNavCtrl.isSet(1)"></user-list>

          <user-list type="Popular" ng-show="leftNavCtrl.isSet(2)"></user-list>

          <user-list type="Near Me" ng-show="leftNavCtrl.isSet(3)"></user-list>

          <user-list type="My Matches" ng-show="leftNavCtrl.isSet(4)"></user-list>

          <user-list type="Chatting" ng-show="leftNavCtrl.isSet(5)"></user-list>
        </div>
</div>