  
<div ng-controller="leftNavCtrl">
<ul class="nav nav-pills  left-nav">
        <li>
          <a href ng-click="setTab(1)">All</a>
        </li>
        <li>
          <a href ng-click="setTab(2)">Popular</a>
        </li>
        <li>
          <a href ng-click="setTab(3)">Near Me</a>
        </li>
        <li>
          <a href ng-click="setTab(4)">My Matches</a>
        </li>
        <li>
          <a href ng-click="setTab(5)">Chatting</a>
        </li>
</ul>  
      {{tab}}

      <div ng-switch on="tab">  
        {{tab}}          
          <user-list ng-switch-when="4" type=4><p>cool</p></user-list>
          <div ng-switch-default><p>YO</p></div>
      </div>
</div>